/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(250, 250, 250);
}

.detail{
  width: 99%;
  margin: auto;
  background-color: #EAE9E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  text-align: center;
  border-radius: 5px;
  float: right;
  margin-left: 1px;
  margin-right: 10px;
}

.detail .dtopic{
  height: 100px;
  background-color: #EAE9E9;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.detail .dtopic h1{
  font-size: 26px;
}

.detail .dcontent .main{
  width: 99%;
  margin-left: 8px;
}
#order-table tr:nth-child(even){background-color: #f2f2f2;}
.detail .dcontent .main .ttopic{
  background-color: gray;
  height: 60px;
  margin: auto;
}

.detail .dcontent .main .rw img{
  border-radius: 10px;
  width: 150px;
  height: 200px;
  margin: 10px;
}

.detail .dcontent .main .rw .col-description{
  width: 650px;
}

.detail .dcontent .main .ttopic td{
  width: 200px;
}

.detail .dcontent .main .rw .s-details .s-description{
  display: flex;
  /* margin: 10px; */
  /* margin-left: 200px; */
}

.detail .dcontent .main .rw .s-details .s-description .image{
  float: left;
  margin-left: 50px;
}

.detail .dcontent .main .rw .s-details .s-description .info{
  float: right;
  margin-left: 50px;
  margin-top: 40px;
}

.detail .Proceed{
  margin-bottom: 60px;
  margin-top: 50px;
}

.detail .Proceed button{
  background-color: #54E346;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 20px;
  break-inside:avoid;
}

.detail .dcontent .main .rw{
  border-bottom: 5px;
}

tbody{
  border-bottom: #54E346;
}