@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* *------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/ 
 body {
     color: #666666;
     font-size: 15px;
     font-family: 'Dosis', sans-serif;
     line-height: 1.80857;
   
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: 120% !important;
     color: #1f1f1f;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
     opacity: .8 
}
 a {
     color: #1f1f1f;
     text-decoration: none;
     outline: none;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 ul, li, ol{
     list-style: none;
     margin: 0px;
     padding: 0px;
}
 button:focus{
     outline: none;
     box-shadow: none;
}
 :focus {
     outline: 0;
}
 p{
     margin: 0px;
}
 .bootstrap-select .dropdown-toggle:focus{
     outline: none !important;
}
 .form-control::-moz-placeholder {
     color: #ffffff;
     opacity: 1;
}
 .bootstrap-select .dropdown-toggle:focus{
     box-shadow: none !important 
}

body{
    margin: 0;
}

/* nav */

.nav{
    width: 100%;
    height: 100px;
    background: palevioletred;
}


/* header */
.header{
    width: 100%;
    height: 700px;
    background: rgb(252, 252, 249);
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
  width: 100%;

  
}

.slideshow-container  img{
    width: 100%;
    height: 700px;
    opacity: 0.5;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.header .text .hello{
    font-size: 50px;
    margin: 10px;
    
}

.header .text .welcome{
    font-size: 60px;
    line-height:1.2; 
    padding-bottom: 30px;  
}

.header .text .para{
    font-size: 20px;
    padding-bottom: 30px;
      
}

.header button{
    width: 200px;
    background-color: #c70505;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.header button:hover{
    background: black;
}
/* aboutUs */
.aboutUs{
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    height: 470px;
    margin-top: 90px;
    margin-bottom: 30px;
    box-shadow: #ddd 0px 0px 13px 5px;
    background-color: #fff;
    padding: 20px;
    font-family: 'poppins';
    
}

.aboutUs .title-all{
    
    font-size: larger;
    /* margin-left: 10px; */
    margin-right: 50px;
}

.aboutUs .image{
    float: left;
    height: 420px;
    width: 825px;
    border-right-style: groove;
    border-right-color: cadetblue;
   
  
    
    /* background: wheat; */
}

.aboutUs img{
    height: 400px;
    width: 750px;
    margin-top: 10px;
}

.aboutUs .details{
    float: right;
    height: 400px;
    width: 500px;
    /* background: yellow; */
    border-width: 2px;
    padding-left: 50px;
   
   
}
/* BUTTON */

span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "READ ME";
    height: 50px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(252, 195, 11);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 80px;
  }
  span a:before{
    color: #fff;
    background: rgb(252, 195, 11);
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  


/* .aboutUs button{
    width: 300px;
    background-color: #1cd823;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
} */
/* button */
/* .btn {		
	position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color:rgb(207, 25, 25);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: #96B7C4;
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background:rgb(207, 25, 25);
	transition-delay: .35s;
} */

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid rgb(207, 25, 25);
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/* fnv */

.title-all{
    margin-bottom: 30px;
}

.title-all h1,p{
    text-align: center;
}
.title-all h1{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}
.title-all p{
    color: #999999;
    font-size: 16px;
}
.products-box{
    padding: 70px 0px;
}
.special-menu{
    margin-bottom: 40px;
}
.filter-button-group{
    display: inline-block;
    align-content:center;
}
.filter-button-group button{
    background: #b0b435;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    font-size: 18px;
}
.filter-button-group button.active{
    background: #000000;
}

.row-special-list{
    display: flex;
    margin-left: 100px;
    margin-right: 150px;
}

.products-single {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}
.products-single .box-img-hover{
    overflow: hidden;
    position: relative;
}
.box-img-hover img{
    margin: 0 auto;
    text-align: center;
    display: block;
}
.type-lb{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index:8;
}
.type-lb .sale{
    background: #b0b435;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.type-lb .new{
    background: #000000;
    color: #ffffff;
    padding: 2px 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.why-text{
    background: #f5f5f5;
    padding: 15px;
}
.why-text h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}
.why-text h5{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    display: inline-block;
    background: #b0b435;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}
.mask-icon{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask-icon ul{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}
.mask-icon ul li{
    background: #b0b435;
}
.mask-icon ul li a{
    color: #ffffff;
    padding: 5px 10px;
    display: block;
}
.mask-icon a.cart{
    background: #b0b435;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
}
.mask-icon a.cart:hover{
    background: #000000;
    color: #ffffff;
}
.mask-icon ul li a:hover{
    background: #000000;
    color: #ffffff;
}
.products-single .mask-icon{
    background: rgba(1,1,1, 0.5);
    top: -100%;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
}
.products-single:hover .mask-icon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
}
@keyframes bounceY {
    0% {
        transform: translateY(-205px);
   }
    40% {
        transform: translateY(-100px);
   }
    65% {
        transform: translateY(-52px);
   }
    82% {
        transform: translateY(-25px);
   }
    92% {
        transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        transform: translateY(0px);
   }
}
@-moz-keyframes bounceY {
    0% {
        -moz-transform: translateY(-205px);
   }
    40% {
        -moz-transform: translateY(-100px);
   }
    65% {
        -moz-transform: translateY(-52px);
   }
    82% {
        -moz-transform: translateY(-25px);
   }
    92% {
        -moz-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -moz-transform: translateY(0px);
   }
}
@-webkit-keyframes bounceY {
    0% {
        -webkit-transform: translateY(-205px);
   }
    40% {
        -webkit-transform: translateY(-100px);
   }
    65% {
        -webkit-transform: translateY(-52px);
   }
    82% {
        -webkit-transform: translateY(-25px);
   }
    92% {
        -webkit-transform: translateY(-12px);
   }
    55%, 75%, 87%, 97%, 100% {
        -webkit-transform: translateY(0px);
   }
}

.container{
    align-items: center;
}



/* latest */

.latest-blog{
    padding: 70px 0px;
    background: #f5f5f5;
}
.blog-box{
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    background: #ffffff;
    margin-bottom: 30px;
}
.blog-content{
    position: relative;
}
.title-blog{
    padding: 40px 30px 40px 30px;
}
.title-blog h3{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.title-blog p{
    margin: 0px;
}
.option-blog {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}
.option-blog li{
    display: inline-block;
}
.option-blog li a{
    background: #000000;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.option-blog li a:hover{
    background: #b0b435;
    color: #ffffff;
}
.tooltip-inner {
    background-color: #b0b435;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #b0b435 !important;
    padding-top: 0px !important;
    top: 0px !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #b0b435 !important;
    padding-top: 0px !important;
    padding-right: 5px !important;
    top: 0px !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #b0b435 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #b0b435 !important;
    padding-top: 0px !important;
    top: 0px !important;
}

.latest .latest-blog .row{
    display: flex;
    margin-right: 100px;
    margin-left: 90px;
}

.latest .latest-blog .row .col-md-6{
    margin-left: 20px;
    margin-right: 20px;
    width: 350px;
}

.latest .latest-blog .row .col-md-6 img{
    width: 350px;
}

/* reviews */

/* contactUs */
.contactUs .contact-img{
    background-image: url("images/contact.jpg");
    min-height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
    
}


.contactUs form{
    float: right;
    background: rgb(160, 120, 160);
    margin: 20px;
    opacity: 1;
    align-items: center;
    margin-top: 25px;
    padding-top: 10px;
    width: 350px;
    padding-left: 15px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    margin-right: 30px;

}

input[type=text], select, textarea {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:rgb(128, 128, 128);
    margin: 10px;
  }

.form{
    padding-left: 200px;
    color:#575857;
    font-weight:bold;
    font-family: Candara Light;
    align-items: center;
    opacity: 1;  
    
}
/* button[type=submit] {
    width: 200px;
    background-color: #bd157c;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
   margin-left: 20px;
   letter-spacing: normal;
   margin-left: 55px;
   height: 40px;
} */

/* 5 */
.btn-5 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 10px;
    border: none;
  }
  .btn-5:hover {
    background: transparent;
    color: #5e1447;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #5e1447;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
  /* ... */
  /* h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
   
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    
  } */
  .frame {
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }
  button {
    margin: 20px;
    outline: none;
    padding: 10px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #990a6e;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-left: 100px;
    
    
  }
  

/* gallery */
.instagram-box{
    padding: 70px 0px;
    background: url(.../public/img/img-pro-03.jpg) no-repeat center center;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-left: 100px;
    padding-right: 50px;
    
}
.instagram-box::before{
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: "" ;
    position: absolute;
    z-index: 0;
}

.main-instagram{
    display: flex;
}
.item{
    width: 300px;
}
.main-instagram.owl-carousel .owl-nav button.owl-prev{
    background: #000000;
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 50px;
    line-height: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    top: 0;
    padding: 0;
    margin-top: 0;
    opacity: 1;
    left: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next{
    background: #000000;
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 50px;
    line-height: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    top: 0;
    padding: 0;
    margin-top: 0;
    opacity: 1;
    right: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next:hover, .main-instagram.owl-carousel .owl-nav button.owl-prev:hover{
    background: #b0b435;
}
.ins-inner-box{
    position: relative;
    width: 250px;
}

.ins-inner-box img{
    width: 250px;
}
.hov-in{
    opacity: 0;
    background: rgba(211,59,51, 0.5);
    bottom: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
    text-align: center;
    display: table;
}
.hov-in a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.hov-in i{
    color: #000000;
    font-size: 48px;
    position: relative;
    z-index: 2;
}
.hov-in a i:hover{
    color: #ffffff;
}
.ins-inner-box:hover .hov-in{
    bottom: 0;
    opacity: 1;
}


/* footer */