/* .noti-content .noti-list{
     padding-left: 200px; 
} */

.noti-content .topic{
    padding: 50px;
    padding-top: 60px;
    font-family: Candara Light; 
    padding-left: 200px;  
}

.noti-content .topic .main-topic{
    font-size: 25px;
    font-weight: 900;
    color: rgb(3, 3, 3);
    font-weight:bold;   
}
.noti-content .topic hr{
    width: 400px;
    float: left;
    border-color: rgb(78, 190, 13);
    border-style: solid;
}


.noti-content .topic img{
    height: 25px;
    padding-left: 10px;

}

.noti-content .noti-list .noti{
    height: 100px;
    width: 900px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;

}

.noti-content .noti-list .pre-noti .noti{
    height: 100px;
    width: 900px;
    border-left: rgb(97, 98, 97);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;

}

.noti:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.noti-list .noti{
    display: flex;
    font-family:Candara Light;
    
}

.noti-list .noti .noti-profile{
    float:left;
    width: 120px;
}

.noti-list .noti .noti-profile img{
    border-radius: 50%;
    height: 70px;
    margin-left: 25px;
    margin-top: 15px;
}

.noti-list .noti .noti-details{
    float:right;
    width: 800px;

}

.noti-list .noti .noti-details .noti-name{
    margin-top: 15px;
    height: 25px;
    font-weight: 500;
}

.noti-list .noti .noti-details .noti-info{
    height: 25px;
}


.noti-list .noti .noti-details .time{
    margin-bottom: 10px;
    height: 25px;
}
.copyright{
    width: 100%;
    height: 50px;
    padding:5px;
    text-align:center;
    font-family:Candara Light;
}

/* Notification view(farmer stock) */

.noti-content .noti-list .stock-noti{
    height: 450px;
    width: 900px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    display: flex;
    margin: auto;
}

.noti-content .noti-list .stock-noti .image{
    float: left;
    width: 400px;
    padding-top: 50px;
    padding-left: 100px;
}

.noti-content .noti-list .stock-noti .details{
    float: right;
    width: 500px;    
}

.noti-content .noti-list .stock-noti .image img{
    width: 250px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.noti-content .noti-list .details ul{
    list-style: none;
    color:#575857;
    font-family: Candara Light;
    padding: 15px;
}

.noti-content .noti-list .details li{
    padding: 5px;
}

input[type=submit] {
    width: 150px;
    background-color: rgb(78, 190, 13);;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
}

input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

  .noti-content .noti-list .details .buttons{
        margin-left:100px ;
}

/* Notification view(buyer request) */

.noti-content .noti-list .request-noti{
    height: 425px;
    width: 700px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    display: flex;
}

.noti-content .noti-list .request-noti .details .buttons{
    margin-left:350px ;
}
/*  Notification view(reportings) */
.noti-content .noti-list .report-noti{
    height: 380px;
    width: 820px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    display: flex;
}

.noti-content .noti-list .report-noti .details .buttons{
    margin-left:300px ;
}
/*  Notification view /farmer () */ 

.noti-content .noti-list .order-noti{
    height: 380px;
    width: 820px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    display: flex;
}

.noti-content .order-noti .details ul{
    margin-top: 10px;
}

.noti-content .noti-list .order-noti .details .buttons{
    margin-left:300px ;
}

.noti-content .noti-list .first-row{
    display: flex;
    font-family: Candara Light;
    padding-left: 15px;
    font-size: 20px;
}


.noti-content .noti-list .first-row .stock-name{
    float: left;
    padding-right: 150px;
}

.noti-content .noti-list .first-row .date{
    float: right;
    margin-left: 20px;
}
.noti-content .noti-list .first-row hr{
    margin-right: 10px;
    margin-left: 10px;
}

/*  Notification view /buyer (offer) */ 

.noti-content .noti-list .offer-noti{
    height: 380px;
    width: 820px;
    border-left: rgb(78, 190, 13);
    border-left-style: solid;
    border-width: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
    display: flex;
    margin: auto;
}

.noti-content .offer-noti .details ul{
    margin-top: 10px;
}

.noti-content .noti-list .offer-noti .details .buttons{
    margin-left:300px ;
}