/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(250, 250, 250);
}

.side{
  width: 12%;
  margin: auto;
  height: auto;
  text-align: center;
  float: left;
  height: 300px;

}

.detail{
  width: 85%;
  height: 550px;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  float: right;
  display:flex;
  margin-top: 40px;
  margin-right: 20px;
}

.side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.side li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.side li a:hover {
  background-color: green;
  color: white;
}

.detail .grph{
  width: 70%;
}

.detail .amount{
  width: 20%;
  margin-right: 1px;
  margin-left: 5px;
}

.detail .grph iframe{
  height: 350px;
  width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media screen and (max-width: 1366px) {
  .amount{
    margin-left: 50px;
  }
}