/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
/* navigations styles */
body{
    margin: 0;
}
/* navigations styles
.nav{
    width: 100%;
    height: 80px;
    display: flex;
    background: rgb(245, 245, 245);
    box-shadow: 0 8px 17px 0 rgba(90, 90, 90, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav .logo,
.nav .middle,
.nav .nav-right{
    position: relative;
    margin-bottom: 45px;
    color: #454545;
}

.nav .logo{
    float: right;
    width: 20%;
    height: 80px;
}
.nav .logo img{
    height: 80px;
    padding-top: 5px;
    border-radius: 20px;
    padding-left: 80px;
}
.notif-ico{
    width: 100px;
}
.nav .middle{
    float: right;
    width: 55%;
    height: 80px;
}

.nav .nav-right{
    float: right;
    width: 25%;
    display: flex;
    height: 80px;
    padding-right: 0px;
   align-content: flex-end;
}

.nav .middle a{
    text-decoration: none;
    font-family: Candara Light;
    text-decoration: bold;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
  }

 .nav .middle li {
      float: left;
      padding: 30px;
}

.nav a{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(3, 3, 3);
}
.nav .nav-right .name a{
  
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: rgb(3, 3, 3);
    text-decoration: none;
    padding-top: 30px;
}

.nav .name a,
.nav .menu-icon i{
    float: left;
    padding: 30px;
}

.nav .nav-right .menu-icon .i{
    width: 20px;
    height: 20px;
}

.nav ul li a:hover:not(.active) {
    background-color: #9a9c9c;
    border-radius: 20px;
}

.nav ul li a.active {
    background-color: #646969;
}

.nav ul li .right {
    float: right;
}

.nav .nav-right .name{
    float: right;
    text-decoration: bold;
    font-family: Candara Light;
}


.nav .nav-right .menu-icon{
    display: flex;
    float: right;
}

.nav .nav-right .menu-icon img{
    height: 50px;
    width: 50px;
    padding-top: 20px;
    border-radius: 20px;
}

.nav .nav-right .notify{
    float: right;
    padding-top: 35px;
    height: 50px;
}
.nav .nav-right .menu-icon .menu{
    float: right;
}
.nav .nav-right .menu-icon .prof{
    float: right;
}
.nav .nav-right .menu-icon .prof img{
    width: 100%;
} */
/* landing page */
.landing_page{
    display: flex;
}
.landing_page .right{
    margin-top: 120px;
width: 100%;
}
*{
    font-family: 'Poppins', sans-serif; 
}

/* .landing_page .right{

} */

/* checkk */

/* ..... */
/*Sidebar*/
.sidebar{
    position: fixed;
    z-index: -3;
    top: 0%;
    left: 0;
    height: 100%;
    width:300px;
    background: #11101d;
}

.sidebar .nav-links{
    margin-top: 100px;
    height: 100%;
    padding-top: 30px;
    padding-left: 10px;
    overflow: auto;
}

.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
    background: rgb(221, 231, 223);
}

.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;   
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}


.sidebar .nav-links li a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 300px;
}

.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 30px;
    margin-top: -10px;
    background: rgb(23, 53, 92);
    display: none; 
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;

}

.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 5px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none; 
}

.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity : 1;
    display: block;

}

.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    padding: 10px;
} 

/* .sidebar .profile_details .profile_name,
.sidebar .profile_details .jnb{

}
/* end of the sidebar */

/*slideshow images*/

.slideshow{  
    height: 500px;
    padding-left: 350px;
    padding-right: 25px;
} 

 .slideshow .slideshow-container {
    width: 1085px; 
    position: relative;
    margin: auto;
    height: 500px;
  }

  .slideshow .slideshow-container .land_image{
    height: 500px;
    border-radius: 10px;
}

.slideshow .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slideshow .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideshow .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
} */





/*stock from best selling farmers*/

html {
    box-sizing: border-box;
  }

.row{
    padding-left: 325px;
    display: flex;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding-left: 25px;

  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

 

/*One stock card*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
}
/*text-1*/

.text-1{
    padding: 50px;
}

/* check */


.card {
    position: relative;
    flex: 1 1 100%;
    margin: 31px 0;
    padding: 20px;
    background: lighten(#f8f8f8, 3%);
  
    @media screen and (min-width: 768px) {
      flex-basis: calc(33.33% - (#{31px * 2} + #{20px * 2}));
      margin: 0 31px;
    }
  }
  

.card {
    transition: transform .5s;
}

    card::after {
      position: absolute;
      top:0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }
  
    card:hover,
    card:focus {
      transform: scale3d(1.006, 1.006, 1);
    }
      card::after {
        opacity: 1;
      }
    
  
/* ..check ends... */
.card .card:hover{
    background: rgb(250, 11, 11);
} 
 
.stock-img-1{
    border-radius: 10px;
}

.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
  }

.container .line-1{
    display: flex;

} 

.container .line-1 .text1{
    width: 75% ; 
}

.container .line-1 .text2{
    text-align: left;
}

.container .line-2{
    display: flex;
}

.container .line-2 .text1{
    width: 75% ; 
}
.container .line-2 .text2 .i{
    text-align: left;
}
/*topic 1*/
.topic{
    padding: 50px;
    text-align: center;
    padding-left: 320px;
    padding-top: 75px;
}

.topic .main-topic{
    font-size: 25px;
    font-weight: 500;
    color: rgb(3, 3, 3);
    
}
#addMod{
    width: 100px;
    height: 50px;
    background-color: rgb(0, 212, 35);
    float: right;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    
}
#addMod:hover{
    transition: 500ms;
    background-color: rgb(187, 255, 0);
}

/* responsive part */

@media (max-width: 1240px){
    .sidebar{
        width: 60px;
    }

    .right{
        width: calc(100% - 60px);
        left: 60px;
    }

    .slideshow .slideshow-container{
        height: 500px;
        width: 1075px;
    }

    .slideshow, .slideshow-container{
        width: calc(100% - 60px);
        padding-left: 40px;
    }

    .slideshow .dot-set{
        padding-left: 150px;
    }

    .slideshow .text{
        align-items: center;
    }

    .topic {
        padding-left: 70px;

    }
/* 
    .column{
        float: left;
    }
    .farmer-stock{
        padding-left: 70px;
    } */
}

/* ..end of responsive part.... */


.wrapper{
    max-width: 450px;
    width: 100%;
    margin-top: 200px;
    background-color: white;
    float: right;

    margin-bottom: 5%;
    margin-right: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    padding: 30px;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
    
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: rgb(0, 0, 0);
     margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 12px;
    padding: 5px 5px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 60px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 30px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 12px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  .wrapper .submit-btn{
      width: 100%;
      text-align: center;
  }
  .wrapper .submit-btn input{
      width: 60%;
      height: 40px;
      background-color: rgb(11, 172, 38);
      border-radius: 20px;
      border-color: rgb(11, 172, 137);
  }
  input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #999999;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: rgb(0, 0, 0);
  }
  .wrapper .socials{
      width: 100%;
      text-align: center;
      padding-top: 20px;
  }
  .reg-logo{
      float: left;
      width: 400px;
      height: 400px;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 20%;
  }
  .reg-logo img{
      width: 100%;
      height: 100%;
  }

  /* dashboard */
  /*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
}
body{
    background-color: rgb(250, 250, 250);
}
#dashboard{
    
    max-width: 80%;
    margin: auto;
    margin-top: 5%;
}
#profile-info-card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 18%;
  height: 500px;
  text-align: center;
  border-radius: 5px;

  float: left;
  margin-left: 10px;
  margin-right: 10px;


}
#profile-info-card h1{
    font-size: 26px;
}
#profile-info-card h2{
    font-size: 18px;
}
#profile-info-card table{
    border-collapse: collapse;
    border: 0px solid black;
    margin: auto;
    width: 90%;
    height: 35%;
    font-size: 18px;
}
#profile-info-card .profile-upper{
    height: 55%;
}

#profile-info-card table .stats-desc{
    width: 80%;
    text-align: left;
}
#profile-info-card table .stat{
    width: 20%;
    text-align: right;
    color: rgb(0, 212, 35);
}
.profile-pic img{
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.dash-card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    width: 350px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    float: left;
    transition: 0.3s;
    margin-left: 30px;
}
.dash-card:hover{
    background-color: rgba(148, 171, 152, 1);
    color: black;
}

.dash-card h1{

    text-align: left;
    padding-left: 30px;
    font-size: 30px;
    margin-bottom: 4px;
    transition: 0.3s;
}
.dash-card img{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50px;
}
.card-line{
    /* margin-top: 5%; */
    width: 80%;
    height: 210px;
    overflow: hidden;
}
#order-table{
    width: 75%;
    float: right;
    margin-right: 60px;
}

#order-table table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-collapse: collapse;

}
#order-table table tr{
    height: 50px;
}
#order-table table thead tr{
    background-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
}
#order-table table tbody tr{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
#order-table H1{
    font-size: 24px; 
}
#order-table tr:nth-child(even){background-color: rgb(226, 230, 241);}
#edit-profile-card{
    background: #11101d;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 18%;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    color: white;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }
  #edit-profile-card h1{
      color: rgb(0, 212, 35);
      font-weight: normal;
  }
@media screen and (max-width: 1800px) {
    .dash-card{
        width: 300px;
        height: 180px; 
    }
    .dash-card h1{
        font-size: 40px; 
    }
    .dash-card img{
        width: 80px;
        height: 80px;
    }
  }
@media screen and (max-width: 1555px) {
    .dash-card{
        width: 250px;
        height: 150px; 
    }
    .dash-card h1{
        font-size: 36px; 
    }
    .dash-card img{
        width: 60px;
        height: 60px;
    }
    .card-line{
        width: 73%;
    }
    #profile-info-card{
        width: 24%;
    }
  }
 
@media screen and (max-width: 1454px) {
    .dash-card{
        width: 230px;
        height: 150px; 
    }
}
@media screen and (max-width: 1352px) {
    .dash-card{
        width: 220px;
        height: 150px; 
    }
}
@media screen and (max-width: 1280px) {
    .dash-card{
        width: 210px;
        height: 150px; 
    }
}

@media screen and (max-width: 1366px) {
    .dash-card{
        width: 210px;
        height: 150px;
        font-size: 20px; 
    }
    .dash-card h1{
       
        font-size: 20px; 
    }

    #order-table{
        width: 65%;
        float: right;
        margin-right: 60px;
    }

    #edit-profile-card h1{
        color: rgb(0, 212, 35);
        font-weight: normal;
    }

    #edit-profile-card{
        
        width: 260px;
    }

    .wrapper{
        margin-top: 50px;
      }

    .reg-logo{
        margin-left: 150px;
    }
}
.invalidFeedback{
    color: red; 
  }
  

/* new styles */


